/* .dockbar-form input,
.form-inline input {
  width: auto;
}

header {
  margin-bottom: 0px;
  min-height: 0px;
}

@media (min-width:979px) {
  #sidebar.affix-top {
    position: static;
  }
  #sidebar.affix {
    position: fixed;
    top: 0px;
    width: 21.2%;
  }
}

.affix,
.affix-top {
  position: static;
}

body {
  background-color: #efefef;
  color: #828282;
  margin:0;
  padding:0;
}

a,
a:hover {
  color: #334e89;
  text-decoration: none;
}

.highlight-bk {
  background-color: #334e89;
  padding: 1px;
  width: 100%;
}

.highlight {
  color: #334e89;
}

h3.highlight {
  border-bottom: 2px solid #334e89;
  padding-bottom: 14px;
  padding-top: 13px;
} */
#skip-to-content {
    clip: rect(0px, 0px, 0px, 0px);
    position: absolute;
}
.dockbar {
  background-color: #334e89;
  border-radius: 0px;
  color: #fff;
  position: relative;
  z-index:1001;
  left: 0;
  right: 0;
  top: 0;
}
.dockbar .btn-navbar {
	background-color: #E9E9E9;
    background-image: linear-gradient(to bottom, #ECECEC, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    color: #FFFFFF;
    display: none;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.dockbar .nav-collapse.collapse {
	height: auto;
    overflow: visible;
}
.collapse {
	display: block;
}
.dockbar li {
    line-height: 20px;
    font-weight:bold;
}
.dockbar .nav {
	list-style: none outside none;
	display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
.dockbar .nav > li {
    float: left;
}
.dockbar .nav > li > a {
	display: block;
	color: #FFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #555555;
    word-break: break-all;
}

.dockbar .nav > li > .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.dockbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.dockbar .dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.dockbar .dropdown-menu > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}
.dockbar ul.unstyled, .dockbar ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}

.dockbar .navbar-inner .site-administration-menu li {
    list-style: none outside none;
}
.dockbar .navbar-inner .site-administration-menu li a {
    color: #000000;
    display: block;
    padding: 3px 5px 3px 40px;
}
.dockbar .divider-vertical {
    border-left: 1px solid #F3F3F3;
    border-right: 1px solid #F9F9F9;
    height: 40px;
    margin: 0 9px;
}
.dockbar .dropup, .dockbar .dropdown {
    position: relative;
}
.dockbar-user-notifications .user-notifications-count {
    border-radius: 4px;
}
.dockbar-user-notifications .user-notifications-count, 
.notifications-portlet .user-notifications-count {
    background-color: #0066B3;
    border: 1px solid #0066B3;
    padding: 2px 6px;
}
.dockbar .user-avatar img {
    margin-top: -2px;
    text-decoration: none;
    vertical-align: middle;
    width: 20px;
}
.dockbar img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.dockbar .navbar-inner .container .nav-account-controls {
    float: right;
}
.dockbar .nav li.dropdown.open > .dropdown-toggle, 
.dockbar .nav li.dropdown.active > .dropdown-toggle, 
.dockbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #FFFFFF;
    color: #555555;
}
.dockbar .nav-collapse .open > .dropdown-menu {
      display: block;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-inner {
    border-top: 1px solid #E5E5E5;
    padding: 9px 15px;
}
.lfr-edit-layout-panel .taglib-form-navigator .accordion .accordion-group.lfr-panel-extended .accordion-inner {
    padding: 15px;
}

/* ======================================= */

.lfr-add-panel, .lfr-device-preview-panel, .lfr-edit-layout-panel {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.lfr-device-preview-panel .lfr-device-item {
    cursor: pointer;
    height: 60px;
    padding: 10px;
}
.lfr-add-panel {
    width: 330px;
}
.lfr-admin-panel {
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 1100;
}
.modal {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -280px;
    outline: medium none;
    position: fixed;
    top: 10%;
    width: 560px;
    z-index: 1050;
    overflow:hidden;
}
.modal-focused {
	display:block;
}
.modal-hidden {
	display:none;
}
.modal-content {
    overflow: hidden;
}
.modal-header {
    border-bottom: 1px solid #EEEEEE;
    padding: 9px 15px;
}
.modal-header h3 {
    line-height: 30px;
    margin: 0;
}
.modal-header .close {
    margin-top: 2px;
}
.modal-content .dialog-iframe-bd {
    line-height: 0;
    overflow: hidden;
}
.modal-body {
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
    position: relative;
}
.dialog-iframe-bd {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-content .dialog-iframe-node {
    border-width: 0;
    overflow: auto;
    width: 100%;
}
.overlay {
    position: absolute;
}
.loadingmask {
    height: 100%;
    width: 100%;
}
.helper-hidden-accessible, .overlay-hidden, .overlaycontext-hidden, .overlaymask-hidden, .date-picker-hidden, .datepicker-hidden, .colorpicker-hidden, .tooltip-hidden {
    clip: rect(0px, 0px, 0px, 0px) !important;
    position: absolute !important;
}
.loadingmask-content {
    background: none repeat scroll 0 0 #CCCCCC;
}
.overlaymask-content {
    background: none repeat scroll 0 0 #000000;
}
.loadingmask-content {
    background: none repeat scroll 0 0 #CCCCCC;
}
.loadingmask-message {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #BBBBBB #999999 #999999 #BBBBBB;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    left: 50%;
    padding: 2px;
    position: absolute;
    top: 50%;
}
.state-default, .state-active, .state-hover, .colorpicker-content, .colorpicker-panel-content, .loadingmask-message, .loadingmask-message-content, .progress-bar-content, .progress-bar-status, .form-builder-field, .form-builder-default-message {
    border-radius: 4px;
}
.loadingmask-message {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/html/themes/classic/images/aui/common/state_default_bg.png") repeat-x scroll 0 0 #D4D4D4;
    border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.loadingmask-message {
    background: url(" http://cdn1.fashionandyou.com/fny-static/app-images/portlet/header_bg.png") repeat-x scroll 0 0 #D4D4D4;
}
.loadingmask-message-content {
    background: url("/html/themes/classic/images/aui/loading_indicator.gif") no-repeat scroll 5px 50% #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #111111;
    line-height: 1;
    padding: 5px 10px 5px 25px;
}
.lfr-has-device-preview {
    padding-left: 220px;
}
.lfr-has-edit-layout {
    padding-left: 460px;
}
.lfr-has-add-content {
    padding-left: 350px;
}
/* .my-sites-menu .site-type {
    color: #FFFFFF;
    display: none;
    float: right;
    font-size: 0.8em;
    font-weight: normal;
    margin-right: 10px;
    position: absolute;
    right: 100%;
}
.badge {
    border-radius: 9px;
    padding-left: 9px;
    padding-right: 9px;
}
.badge {
    background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
a.badge:hover, a.badge:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
} */


/* ======== Device Preview ======= */

.lfr-device-preview-panel {
  width: 200px; }
  .lfr-device-preview-panel .nav-list {
    margin: 20px -10px;
    padding: 0; }
  .lfr-device-preview-panel .control-group-inline {
    display: inline; }
  .lfr-device-preview-panel .lfr-device-item {
    cursor: pointer;
    height: 60px;
    padding: 10px; }
    .lfr-device-preview-panel .lfr-device-item .device-info {
      height: 60px;
      padding-left: 70px; }
      .lfr-device-preview-panel .lfr-device-item .device-info .device-name, .lfr-device-preview-panel .lfr-device-item .device-info .device-dimensions {
        display: block; }
      .lfr-device-preview-panel .lfr-device-item .device-info .device-dimensions {
        font-size: 13px; }

.lfr-device .modal-header {
  display: none; }
.lfr-device .lfr-device-size-status {
  position: absolute;
  width: 100%; }
  .lfr-device .lfr-device-size-status .lfr-device-size-status-content {
    display: inline-block;
    font-size: 11px;
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px; }
  .lfr-device .lfr-device-size-status.b, .lfr-device .lfr-device-size-status.bl, .lfr-device .lfr-device-size-status.br {
    bottom: 10px; }
  .lfr-device .lfr-device-size-status.t, .lfr-device .lfr-device-size-status.tl, .lfr-device .lfr-device-size-status.tr {
    top: 10px; }
  .lfr-device .lfr-device-size-status.b, .lfr-device .lfr-device-size-status.t {
    text-align: center; }
  .lfr-device .lfr-device-size-status.r, .lfr-device .lfr-device-size-status.br, .lfr-device .lfr-device-size-status.tr {
    text-align: right; }
  .lfr-device .lfr-device-size-status.l, .lfr-device .lfr-device-size-status.bl, .lfr-device .lfr-device-size-status.tl {
    text-align: left; }
  .lfr-device .lfr-device-size-status.r, .lfr-device .lfr-device-size-status.l {
    margin-top: -15px;
    top: 50%; }
.lfr-device:after {
  bottom: 10px;
  content: '';
  display: none;
  height: 30px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 30px; }
.lfr-device:before {
  content: '';
  display: none;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 20px; }
.lfr-device.rotated:after {
  bottom: 0;
  left: 10px;
  margin: auto;
  right: auto;
  top: 0; }
.lfr-device.rotated:before {
  bottom: 0;
  left: auto;
  margin: auto;
  right: 20px;
  top: 0; }
.lfr-device.smartphone:after, .lfr-device.smartphone:before, .lfr-device.tablet:after, .lfr-device.tablet:before {
  display: block; }
.lfr-device.smartphone {
  padding: 50px 10px; }
  .lfr-device.smartphone.rotated {
    padding: 10px 50px; }
    .lfr-device.smartphone.rotated:before {
      height: 50px;
      width: 5px; }
  .lfr-device.smartphone:before {
    height: 5px;
    width: 50px; }
.lfr-device.tablet {
  padding: 50px 20px; }
  .lfr-device.tablet.rotated {
    padding: 20px 50px; }
    .lfr-device.tablet.rotated:before {
      width: 10px;
      height: 10px; }
  .lfr-device.tablet:before {
    height: 10px;
    width: 10px; }

.ie8 .lfr-device.smartphone, .ie8 .lfr-device.tablet {
  padding: 0; }
  .ie8 .lfr-device.smartphone:after, .ie8 .lfr-device.smartphone:beforeÂ , .ie8 .lfr-device.tablet:after, .ie8 .lfr-device.tablet:beforeÂ  {
    display: none; }

.lfr-device-preview {
  bottom: 0;
  display: none;
  left: 220px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1099; }

.lfr-has-device-preview {
  overflow: hidden; }
  .lfr-has-device-preview .lfr-device-preview {
    display: block; }

/*Skin*/
.lfr-device-preview {
  background-color: rgba(255, 255, 255, 0.95); }

.lfr-device-preview-panel .lfr-device-item:hover {
  background-color: #E5F2FC;
  background-position: 10px center;
  background-repeat: no-repeat;
  color: #006076; }
.lfr-device-preview-panel .lfr-device-item.selected {
  background-color: #3EA9DB;
  color: #FFFFFF; }
.lfr-device-preview-panel .lfr-device-item .device-info {
  background-position: 0 center;
  background-repeat: no-repeat; }
.lfr-device-preview-panel .lfr-device-item.autosize .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/full_size_off.png); }
.lfr-device-preview-panel .lfr-device-item.autosize.selected .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/full_size_active.png); }
.lfr-device-preview-panel .lfr-device-item.desktop .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/desktop_off.png); }
.lfr-device-preview-panel .lfr-device-item.desktop.selected .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/desktop_active.png); }
.lfr-device-preview-panel .lfr-device-item.smartphone .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/mobile_off.png); }
.lfr-device-preview-panel .lfr-device-item.smartphone.selected:hover {
  background-image: url(/deep-blue-theme/images/device_preview/mobile_horizontal_opacity.png); }
.lfr-device-preview-panel .lfr-device-item.smartphone.selected .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/mobile_vertical_with_arrow.png); }
.lfr-device-preview-panel .lfr-device-item.smartphone.selected.rotated .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/mobile_horizontal_with_arrow.png); }
.lfr-device-preview-panel .lfr-device-item.smartphone.selected.rotated:hover {
  background-image: url(/deep-blue-theme/images/device_preview/mobile_vertical_opacity.png); }
.lfr-device-preview-panel .lfr-device-item.tablet .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/tablet_off.png); }
.lfr-device-preview-panel .lfr-device-item.tablet.selected:hover {
  background-image: url(/deep-blue-theme/images/device_preview/tablet_horizontal_opacity.png); }
.lfr-device-preview-panel .lfr-device-item.tablet.selected .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/tablet_vertical_with_arrow.png); }
.lfr-device-preview-panel .lfr-device-item.tablet.selected.rotated .device-info {
  background-image: url(/deep-blue-theme/images/device_preview/tablet_horizontal_with_arrow.png); }
.lfr-device-preview-panel .lfr-device-item.tablet.selected.rotated:hover {
  background-image: url(/deep-blue-theme/images/device_preview/tablet_vertical_opacity.png); }

.lfr-device .lfr-device-size-status .lfr-device-size-status-content {
  background-color: #000;
  color: #FFF; }
.lfr-device:after, .lfr-device:before {
  background: #666; }
.lfr-device.smartphone, .lfr-device.tablet {
  background: #333; }
  
  .lfr-device.modal {
  	display:block;
  }