.filterOption{ 
	width:100%; 
	float:left;
	border-bottom: #ccc solid 1px;
	padding: 0 0 5px 0;
}

.filterOption h1 {
	font-size:14px;
	font-weight:700;
	padding-left:0px;
	color:#d22573;
	text-transform:uppercase;
	line-height:24px;
	float:left;
	margin-right:0px;
}

.filterOption .select-sort{padding: 0px 0 0 0px;}

.filterOption .select-sort .choose-option{width:90%; float:left; line-height: 25px;
 border:#ccc solid 1px; height:25px; text-transform: capitalize;}

.prod-area-filter-new {
	float:left;
	width:100%;
	height:auto
}
.prod-area-filter-new h1 {
	font-size:14px;
	font-weight:700;
	padding-left:15px;
	color:#d22573;
	text-transform:uppercase;
	line-height:25px
}
.prod-area-filter-new .filter-container-box {
	padding:5px;
	border:#d9d9d9 solid 1px;
	background:#f9f9f9;
	float:left;
	width:100%
}
#filter-wrapper {
	width:100%;
	float:left;
	border:#f0f0f0 solid 1px;
	box-shadow:0 0 3px #999
}
#faqarea-filter {
	clear:both;
	margin:0;
	padding:5px 10px
}
.sidebar-common-career {
	float:left;
	width:100%
}
.sidebar-common {
	left:10px;
	width:26%;
	height:80%;
	float:left;
	position:absolute
}
#product-filter-wrapper {
	float:right;
	width:100%;
	display:none
}
.title-heading {
	font-size:16px;
	color:#d22573;
	line-height:35px;
	width:100%;
	float:left
}
.title-heading .title-filter-left:before {
	content:'';
	display:block;
	width:20px;
	height:20px;
	top:8px;
	left:0;
	background:url( http://cdn1.fashionandyou.com/fny-static/app-images/sprite.png) -654px -100px no-repeat;
	position:absolute
}
.title-heading .title-filter-left:after {
	content:'(+)';
	color:#727272;
	font-size:11px;
	margin:0 0 0 8px
}
.title-heading .title-filter-left.active:after {
	content:'(-)'
}
.title-heading .title-filter-left {
	float:left;
	cursor:pointer;
	font-size:13px;
	font-family:'centurygothicbold';
	letter-spacing:.2px;
	margin:0 0 0 12px;
	padding:2px 0 0 28px;
	text-transform:uppercase;
	position:relative
}
.title-heading .title-filter-right {
	float:right;
	font-family:'centurygothicbold';
	font-size:11px;
	color:#4B4B4B;
	line-height:21px;
	margin:7px 11px 0 0;
	padding:0 6px;
	text-transform:capitalize;
	text-decoration:underline
}
.title-heading .title-filter-right:hover {
	color:#d22573;
	cursor:pointer
}
#product-filter-wrapper .filter-bar-box {
	margin:0;
	float:left;
	width:100%
}
#product-filter-wrapper .filter-bar-box h3 {
	margin:0 0 7px;
	font-size:18px;

	color:#c92869;
	border-bottom:1px solid #f1c1d6;
	display:block;
	padding:0 0 6px
}
#product-filter-wrapper .filter-bar-box h4 {
	background:none repeat scroll 0 0 #F7F7F7;
	border:1px solid #E8E8E8;
	box-shadow:0 0 0 1px #FFF;
	color:#4B4B4B;
	cursor:pointer;
	display:block;
font-family:'centurygothicbold';
	font-size:12px;
	margin:0 0 1px;
	padding:8px 10px;
	text-transform:uppercase;
	float:left;
	width:100%
}
#product-filter-wrapper .filter-bar-box h4.active {
	color:#d22573
}
#product-filter-wrapper .filter-bar-box h4 .reset-link {
	color:#555;
	float:right;
font-family:'centurygothicbold';
	font-size:11px;
	line-height:9px;
	margin:-3px 0 0;
	padding:5px;
	text-decoration:underline;
	text-transform:capitalize
}
#product-filter-wrapper .filter-bar-box h4 .reset-link:hover {
	line-height:9px;
	margin:-3px 0 0;
	padding:5px;
	color:#d22573
}
#product-filter-wrapper .filter-bar-box h4:before {
	font-family:fontawesome;
	border-radius:2px;
	content:"\e81a";
	margin:0 8px 0 0;
	padding:0 3px 1px;
	display:inline-block;
	font-size:15px;
	width:15px;
	text-align:center
}
#product-filter-wrapper .filter-bar-box h4.active:before {
	content:"\e817";
	border-color:#d22573
}
#product-filter-wrapper .filter-bar-box .toggle-box {
	clear:both;
	display:none
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle {
	background:#fff
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ul {
	padding:10px
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ul li {
	list-style-type:circle;
	
	font-size:12px;
outline-style::none;
	display:inline-block;
	padding:0 25px 0 0;
	position:relative
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ul li .choose-option {
	float:left;
	line-height:21px;
	margin-top:2px;
	visibility:hidden
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ul li label {
	font-size:12px;
	
	padding:0 0 0 7px;
	font-weight:400
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ul li label:before {
	display:block;
	left:0;
	top:1px;
	width:14px;
	height:14px;
	border-radius:2px;
	content:'';
	border:1px solid #CCC;
	position:absolute
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ul li label.choose:before {
	border:1px solid #d22573;
	background:url( http://cdn1.fashionandyou.com/fny-static/app-images/sprite.png) -667px -82px #fff no-repeat
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ol {
	padding:12px 12px 0 10px;
	float:left
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ol li {
	line-height:20px;
	
	font-size:12px;
outline-style::none;
	padding:0 15px;
	width:18%;
	float:left;
	outline-style:none
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ol li .choose-option {
	margin-top:2px
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ol li input[type="checkbox"] {
	float:left;
	margin:0 5px
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ol li label {
	float:left;
	font-size:12px;

	padding:0 5px;
	font-weight:400
}
#product-filter-wrapper .filter-bar-box .toggle-box .scroller-bystyle ol li label span {
	float:left;
	margin-left:5px;
	width:120px;
	padding:2px 5px 0 10px;
	font-size:10px
}
#product-filter-wrapper .filter-bar-box .scroller-bystyle {
	float:left;
	width:100%;
	clear:both;
	padding:10px 10px 10px 24px
}
#product-filter-wrapper .filter-bar-box .scroller-bystyle label {
	color:#666;
font-family:'centurygothicbold';
	font-size:12px;
	font-weight:400;
	text-transform:uppercase
}
#product-filter-wrapper .filter-bar-box .scroller-bystyle input[type="text"] {
	color:#d22573;
font-family:'centurygothicbold';
	line-height:20px;
	padding:3px 0 1px;
	text-align:left;
	border:none
}
.demo-description {
	clear:both;
	padding:12px;
	font-size:1.3em;
	line-height:1.4em
}
.ui-draggable, .ui-droppable {
	background-position:top
}
.price-min-max {
	width:100%;
	clear:both;
	margin:5px 0 0;
	float:left;
	font-family:'centurygothicbold';
	font-size:12px;
	color:#d22573
}
.price-min-max .min {
	float:left
}
.price-min-max .max {
	float:right
}

