<div id="activatepage">
  <div class="row clearfix">
    <h2>
      <img src="../images/activate.png" />
      Your Registration has been successfully activated.
    </h2>
    <h3>
      You can log in and continue shopping.
    </h3>
    <div id="account-login">
      <!-- 
<form>
<label for >
Username :
</label>

<input type="text"placeholder="Email Address / Username / Mobile Number" />

<label>
Password:
</label>

<input type="password" placeholder="***********" />

<label>
&nbsp;
</label>
<input type="submit" value="Login" class="go" />
</form>
-->
  <div class="errormsg1">
    <img src="../images/caution1.png" />
    <span id="errorMessage">
      &nbsp;
    </span>
  </div>
  <form method="post" id="login_form">
    <div class="control-group">
      <div class="controls row clear">
        <label>
          Username :
        </label>
        <input type="text" name="loginId" id="loginId" data-error-style="inline" class="textfield" placeholder="Email Address / Username / Mobile Number" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls row clear">
        <label>
          Password :
        </label>
        <input type="password" name="password" id="password" data-error-style="inline" class="textfield" placeholder="***********" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls row clear">
        <label>
          &nbsp;
        </label>
        <input type="submit" id="loginUser" value="Login" class="btn-cartpop" />
      </div>
    </div>
  </form>
  </div>
  </div>
</div>