<!-- <div class="row">
	<ul class="breadcrumb pull-left">
		<li>&nbsp;</li>
		<li><a href="#">Men</a></li>
		<li><a href="#">Category</a></li>
		<li class="active">Event Name</li>
	</ul>

	<ul class="breadcrumb pull-right clearfix">
		<li>&nbsp;</li>
		<li><a href="#">Next</a></li>
		<li class="active">Category Name</li>
	</ul>
</div> -->
<div class="row">
	<h1 class="page-heading">{{label}}</h1>	
</div>
