<div id="invitearea" class="col-xs-12">
    <div id="inviteleft">
    <h2><strong>Earn Rupess 500</strong> for every<br>friend you invite.<br>
    <strong>3 easy ways</strong> to earn !!!</h2>
    <img src="assets/images/img1.jpg" />
</div>

<div id="inviteright">
    <div class="invitebox">
      <h3 class="heading1">Invite Your Friends</h3>
      <form>
          <label>To :</label> <input type="text" value="" placeholder="Enter a friend's email address. Use commas to separate" />
          <label>Message :</label> <textarea placeholder="Join me on Fashionandyou. With over 20 new Mega sales at Upto 80% off starting at 9AM, they offer  irresistible  deals on premium brands, designer labels and exclusive offerings in fashion and lifestyle categories. Simply log on to <a href="http://www.fashionandyou.com">www.fashionandyou.com</a> and become a member.></textarea>
          <label>&nbsp;</label> 

          <div id="importarea">
            <strong>+ Import Contacts</strong>
            <a href="#import-popup" class="fancybox" id="gmail"></a>
            <a href="#" id="window"></a>
            <a href="#" id="yahoo"></a>
          </div>

          <input type="submit" value="Send Invite" class="go" />
      </form>

      <div id="import-popup" class="popup-outer">
         <h2>Choose Your Address Book</h2>
            <div class="row">
              <ul>
                <li><a href="#" class="yahoo_icon">Yahoo</a></li>
                <li><a href="#" class="gmail_icon">Gmail</a></li>
                <li><a href="#" class="outlook_icon">Outlook</a></li>
              </ul>
            </div>
      </div>
    </div>


    <div class="invitebox">
        <h3 class="heading2">Post Invite on Facebook</h3>
        <p align="center"><a href="#"><img src="assets/images/invitefriend.png" /></a></p>
        <form>
          <p>+ Copy & Paste Your Personal Invitation Link:</p>
          <input type="text" value="" class="small" placeholder="http://manoj5273088.fashionandyou.com" /> <input type="submit" value="Copy Link" class="go" />
        </form>

        <div id="sharethis">
            <strong>Share this :</strong>
            <a title="Facebook" class="fb-icon" href="#"></a>
            <a title="Twitter" class="tw-icon" href="#"></a>
            <a title="Pinterest" class="pt-icon" href="#"></a>
            <a title="Google Plus" class="gplus-share" href="#"></a>
            <a title="Linkedin" class="linkin-share" href="#"></a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="invitebox">
        <h3 class="heading3">Post Items You Love</h3>
        <a href="#" class="continueshop">Continue Shopping</a>
        <p>Post Items you love: Express your style by sharing your favorite products using Facebook, Twitter and Pinterest link! As your friends join fashionandyou.com through your post and receive their orders , you earn INR 500 voucher.</p>
    </div>

</div>

<div id="yourinvitation">
    <h2>Your Invitations</h2>
    <div id="invitation-tabs">
        <ul>
            <li><a href="javascript:void(0);" class="active" id="invitetab1">Open Invitations</a></li>
            <li><a href="javascript:void(0);" id="invitetab2">Accepted Invitations</a></li>
            <li><a href="javascript:void(0);" id="invitetab3">Credits Earned</a></li>
        </ul>
        <div class="clear"></div>
    </div>

    <div id="invitationdata">

      <div id="openinvitation" style="display:block;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Friends</th>
            <th>Last Invitation Sent</th>
            <th>No. of Invites Sent</th>
          </tr>
          <tr>
            <td>manoj.kumar@openworks.in</td>
            <td>20 March, 2014</td>
            <td>5</td>
          </tr>
        </table>
        <div class="showmore"><a href="#">Click here to more</a></div>
      </div>

      <div id="acceptinvitation">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Friends</th>
            <th>Last Invitation Sent</th>
            <th>No. of Invites Sent</th>
          </tr>
          <tr>
            <td>manoj.kumar@openworks.in</td>
            <td>20 March, 2014</td>
            <td>5</td>
          </tr>
        </table>

        <div class="showmore"><a href="#">Click here to more</a></div>
      </div>

      <div id="creditsearn">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Friends</th>
            <th>Last Invitation Sent</th>
            <th>No. of Invites Sent</th>
          </tr>
          <tr>
            <td>manoj.kumar@openworks.in</td>
            <td>20 March, 2014</td>
            <td>5</td>
          </tr>
        </table>
        <div class="showmore"><a href="#">Click here to more</a></div>
      </div>

    </div>
</div>


</div>
