<!-- 
<h2>Sorry no products currently  meet your requirements !! </h2>
<div class="">
<a href="/" id="continueshop">Continue Shopping</a>
</div> -->


<div class="oopsImage"><img src="../images/notfound.jpg" alt="fashionandyou.com" class="img-responsive"></div>
<div class="btnclass">
		<h2>Sorry no products currently  meet your requirements !! </h2>
        <a href="/" id="continueshop">Continue Shopping</a>
</div>

