<!-- payment area starts here -->
<div class="row payment-sel-area">
  <div class="col-xs-8">
    <div class="tabs-area">
      <ul id="maintab">
        <li>
          <a href="#" data-name="tcontent1" class="deselected">
            net banking
          </a>
        </li>
        <li>
          <a href="#" data-name="tcontent2" class="deselected">
            debit card
          </a>
        </li>
        <li>
          <a href="#" data-name="tcontent3" class="deselected">
            credit card
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-infoarea" id="tcontent1">
      
      <div class="bank-selection">
        <!-- notification area starts here -->
        <div class="notification-area">
          <div class="col-xs-12">
            NOTE :
            <aside>
              If for any reason, the billing output details are not displayed on your screen after you have made payments, please check the details under 'Order History'. You may also check your mail for the details of your order.
            </aside>
          </div>
          
  <div class="col-xs-12 clearfix">
    <a href="#" class="transc-link">
      Click here
    </a>
    for Bank Transaction Charges
  </div>
  </div>
  <!-- notification area ends here -->
  <!-- bank success category area starts here -->
  <div class="row bank-scss-categ">
    <div class="col-xs-12 clearfix">
      <h3>
        silver category 
        <span>
          ( success rate 70 % - 80 % )
        </span>
      </h3>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        SBI Credit Card
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" checked="checked" />
      <label>
        CITI Bank
      </label>
    </div>
  </div>
  <!-- bank success category area ends here -->
  <!-- bank success category area starts here -->
  <div class="row bank-scss-categ">
    <div class="col-xs-12 clearfix">
      <h3 class="bronze">
        bronze category 
        <span>
          ( success rate 60 % - 50 % )
        </span>
      </h3>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        ICICI Card
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        Punjab National Bank
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        Bank of Baroda
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        Axis Bank
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        Indian Overseas Bank
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        Corporation Bank
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        IDBI Bank
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="bank" class="radio" />
      <label>
        UCO Bank
      </label>
    </div>
  </div>
  <!-- bank success category area ends here -->
  <!-- notification area starts here -->
  <div class="notification-area">
    <div class="col-xs-12">
      NOTE :
      <aside>
        If you have any VISA/Master Credit Card not listed above, any of the below VISA/Master PaymentGateways can be used for Billing (if enabled by Card Issuer).
      </aside>
    </div>
    
    <div class="col-xs-12">
      <a href="#" class="transc-link">
        Click here
      </a>
      for Bank List
    </div>
  </div>
  <!-- notification area ends here -->
  <!-- payment gateway area starts here -->
  <div class="payment-gateways">
    <h2>
      Payment Gateways
    </h2>
  </div>
  <!-- payment gateway area ends here -->
  <!-- bank success category area starts here -->
  <div class="row bank-scss-categ">
    <div class="col-xs-12 clearfix">
      <h3 class="gold">
        gold category 
        <span>
          ( success rate 90 % - 80 % )
        </span>
      </h3>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="payment" class="radio" />
      <label>
        VISA/Master 
        <span>
          (Powered by HDFC Bank)
        </span>
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="payment" class="radio" />
      <label>
        VISA/Master 
        <span>
          (Powered by CITI Bank)
        </span>
      </label>
    </div>
  </div>
  <!-- bank success category area ends here -->
  <!-- bank success category area starts here -->
  <div class="row bank-scss-categ">
    <div class="col-xs-12 clearfix">
      <h3>
        silver category 
        <span>
          ( success rate 70 % - 60 % )
        </span>
      </h3>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="payment" class="radio" />
      <label>
        VISA/Master 
        <span>
          (Powered by ICICI Bank)
        </span>
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="payment" class="radio" />
      <label>
        VISA/Master 
        <span>
          (Powered by Axis Bank)
        </span>
      </label>
    </div>
  </div>
  <!-- bank success category area ends here -->
  <!-- bank success category area starts here -->
  <div class="row bank-scss-categ">
    <div class="col-xs-12 clearfix">
      <h3 class="bronze">
        bronze category 
        <span>
          ( success rate 50 %)
        </span>
      </h3>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="payment" class="radio" />
      <label>
        VISA/Master 
        <span>
          (Powered by IDBI Bank)
        </span>
      </label>
    </div>
    <div class="col-xs-6">
      <input type="radio" name="payment" class="radio" />
      <label>
        VISA/Master 
        <span>
          (Powered by Indian Overseas Bank)
        </span>
      </label>
    </div>
  </div>
  <!-- bank success category area ends here -->
  <a href="#" class="btn-cartpop pull-right">
    Proceed
  </a>
  </div>
  </div>
  <div class="tab-infoarea" id="tcontent2">
    
    <div class="bank-selection">
      <!-- notification area starts here -->
      <div class="notification-area">
        <div class="col-xs-12">
          NOTE :
          <aside>
            If for any reason, the billing output details are not displayed on your screen after you have made payments, please check the details under 'Order History'. You may also check your mail for the details of your order.
          </aside>
        </div>
        
        <div class="col-xs-12 clearfix">
          <a href="#" class="transc-link">
            Click here
          </a>
          for Bank Transaction Charges
        </div>
      </div>
      <!-- notification area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3>
            silver category 
            <span>
              ( success rate 70 % - 80 % )
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            SBI Credit Card
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" checked="checked" />
          <label>
            CITI Bank
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3 class="bronze">
            bronze category 
            <span>
              ( success rate 60 % - 50 % )
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            ICICI Card
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Punjab National Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Bank of Baroda
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Axis Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Indian Overseas Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Corporation Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            IDBI Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            UCO Bank
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <!-- notification area starts here -->
      <div class="notification-area">
        <div class="col-xs-12">
          NOTE :
          <aside>
            If you have any VISA/Master Credit Card not listed above, any of the below VISA/Master PaymentGateways can be used for Billing (if enabled by Card Issuer).
          </aside>
        </div>
        
        <div class="col-xs-12">
          <a href="#" class="transc-link">
            Click here
          </a>
          for Bank List
        </div>
      </div>
      <!-- notification area ends here -->
      <!-- payment gateway area starts here -->
      <div class="payment-gateways">
        <h2>
          Payment Gateways
        </h2>
      </div>
      <!-- payment gateway area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3 class="gold">
            gold category 
            <span>
              ( success rate 90 % - 80 % )
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by HDFC Bank)
            </span>
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by CITI Bank)
            </span>
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3>
            silver category 
            <span>
              ( success rate 70 % - 60 % )
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by ICICI Bank)
            </span>
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by Axis Bank)
            </span>
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3 class="bronze">
            bronze category 
            <span>
              ( success rate 50 %)
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by IDBI Bank)
            </span>
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by Indian Overseas Bank)
            </span>
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <a href="#" class="btn-cartpop pull-right">
        Proceed
      </a>
      
    </div>
    <!-- payment details area starts here -->
    <div class="payment-details">
      <!-- payment mode selection area starts here -->
      <div class="row pay-mode-sel clearfix">
        You have selected :
        <div class="pay-bank-sel">
          <div class="col-xs-12">
            <input type="radio" name="bank" class="radio" checked="checked" />
            <label>
              CITI Bank
            </label>
            <a href="#" class="edit-link">
              Edit
            </a>
          </div>
        </div>
      </div>
      <!-- payment mode selection area ends here -->
      <div class="col-xs-12">
        <span>
          We accept :
        </span>
      </div>
      <div class="col-xs-12 pull-left">
        <a href="#" class="card-icons" title="Visa Card">
        </a>
        <a href="#" class="card-icons mas-card" title="Master Card">
        </a>
        <a href="#" class="card-icons discover" title="Discover card">
        </a>
        <a href="#" class="card-icons amex" title="Amex Card">
        </a>
      </div>
      <div class="col-xs-12">
        <div class="card-details">
          <label>
            Name as on Card :
          </label>
          <input type="text" class="input-field" />
          <label>
            Card Number :
          </label>
          <input type="text" class="input-field pin-width no-margin" />
          <input type="text" class="input-field pin-width" />
          <input type="text" class="input-field pin-width" />
          <input type="text" class="input-field pin-width" />
          <label>
            CVV Number :
          </label>
          <input type="text" class="input-field pin-width no-margin" />
          <span class="cvv-img">
          </span>
          <label>
            Valid Through :
          </label>
          <input type="text" class="input-field pin-width no-margin" />
          <input type="text" class="input-field pin-width" />
          <a class="btn-cartpop" href="#" >
            Make Payment
          </a>
        </div>
      </div>
    </div>
    <!-- payment details area ends here -->
  </div>
  <div class="tab-infoarea" id="tcontent3">
    
    <div class="bank-selection">
      <!-- notification area starts here -->
      <div class="notification-area">
        <div class="col-xs-12">
          NOTE :
          <aside>
            If for any reason, the billing output details are not displayed on your screen after you have made payments, please check the details under 'Order History'. You may also check your mail for the details of your order.
          </aside>
        </div>
        
        <div class="col-xs-12 clearfix">
          <a href="#" class="transc-link">
            Click here
          </a>
          for Bank Transaction Charges
        </div>
      </div>
      <!-- notification area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3>
            silver category 
            <span>
              ( success rate 70 % - 80 % )
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            SBI Credit Card
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" checked="checked" />
          <label>
            CITI Bank
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3 class="bronze">
            bronze category 
            <span>
              ( success rate 60 % - 50 % )
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            ICICI Card
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Punjab National Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Bank of Baroda
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Axis Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Indian Overseas Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            Corporation Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            IDBI Bank
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="bank" class="radio" />
          <label>
            UCO Bank
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <!-- notification area starts here -->
      <div class="notification-area">
        <div class="col-xs-12">
          NOTE :
          <aside>
            If you have any VISA/Master Credit Card not listed above, any of the below VISA/Master PaymentGateways can be used for Billing (if enabled by Card Issuer).
          </aside>
        </div>
        
        <div class="col-xs-12">
          <a href="#" class="transc-link">
            Click here
          </a>
          for Bank List
        </div>
      </div>
      <!-- notification area ends here -->
      <!-- payment gateway area starts here -->
      <div class="payment-gateways">
        <h2>
          Payment Gateways
        </h2>
      </div>
      <!-- payment gateway area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3 class="gold">
            gold category 
            <span>
              ( success rate 90 % - 80 % )
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by HDFC Bank)
            </span>
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by CITI Bank)
            </span>
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3>
            silver category 
            <span>
              ( success rate 70 % - 60 % )
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by ICICI Bank)
            </span>
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by Axis Bank)
            </span>
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <!-- bank success category area starts here -->
      <div class="row bank-scss-categ">
        <div class="col-xs-12 clearfix">
          <h3 class="bronze">
            bronze category 
            <span>
              ( success rate 50 %)
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by IDBI Bank)
            </span>
          </label>
        </div>
        <div class="col-xs-6">
          <input type="radio" name="payment" class="radio" />
          <label>
            VISA/Master 
            <span>
              (Powered by Indian Overseas Bank)
            </span>
          </label>
        </div>
      </div>
      <!-- bank success category area ends here -->
      <a href="#" class="btn-cartpop pull-right">
        Proceed
      </a>
    </div>
    <!-- payment details area starts here -->
    <div class="payment-details">
      <!-- payment mode selection area starts here -->
      <div class="row pay-mode-sel clearfix">
        You have selected :
        <div class="pay-bank-sel">
          <div class="col-xs-12">
            <input type="radio" name="bank" class="radio" checked="checked" />
            <label>
              CITI Bank
            </label>
            <a href="#" class="edit-link">
              Edit
            </a>
          </div>
        </div>
      </div>
      <!-- payment mode selection area ends here -->
      <div class="col-xs-12">
        <span>
          We accept :
        </span>
      </div>
      <div class="col-xs-12 pull-left">
        <a href="#" class="card-icons" title="Visa Card">
        </a>
        <a href="#" class="card-icons mas-card" title="Master Card">
        </a>
        <a href="#" class="card-icons discover" title="Discover card">
        </a>
        <a href="#" class="card-icons amex" title="Amex Card">
        </a>
      </div>
      <div class="col-xs-12">
        <div class="card-details">
          <label>
            Name as on Card :
          </label>
          <input type="text" class="input-field" />
          <label>
            Card Number :
          </label>
          <input type="text" class="input-field pin-width no-margin" />
          <input type="text" class="input-field pin-width" />
          <input type="text" class="input-field pin-width" />
          <input type="text" class="input-field pin-width" />
          <label>
            CVV Number :
          </label>
          <input type="text" class="input-field pin-width no-margin" />
          <span class="cvv-img">
          </span>
          <label>
            Valid Through :
          </label>
          <input type="text" class="input-field pin-width no-margin" />
          <input type="text" class="input-field pin-width" />
          <a class="btn-cartpop" href="#" >
            Make Payment
          </a>
        </div>
      </div>
    </div>
    <!-- payment details area ends here -->
  </div>
  </div>

<!-- payment area ends here -->