<!DOCTYPE html>
#parse ($init)
<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>$company_name | $the_title</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		
		#parse ("$full_templates_path/portal_custom_head.vm")
		$theme.include($top_head_include)
		
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
		<META HTTP-EQUIV="Expires" CONTENT="-1" />
		
		<!-- Open Graph data start -->
		<meta property="og:title" content="FashionAndYou">
		<meta property="og:type" content="fashionandyou:website">
		<meta property="og:url" content="http://fashorgionandyou.com/">
		<meta property="og:image" content="http://fashionandyou.org/">
		<meta property="og:description" content="FashionAndYou">
		<meta property="og:site_name" content="FashionAndYou">
		<!-- and other facebook stuff -->
		<meta property="fb:app_id" content="772164726145216">
		<!-- Open Graph data end -->
		
		<!-- Twitter Card data start -->
  		<meta name="twitter:card">
  		<meta name="twitter:site" content="@FashionAndYou">
  		<meta name="twitter:title" content="FashionAndYou">
  		<meta name="twitter:description" content="FashionAndYou">
  		<meta name="twitter:image" content="http://fashionandyou.org/">
		<!-- Twitter Card data end -->
		
		<!-- Google Authorship and Publisher Markup -->
  		<link rel="publisher" href="https://plus.google.com/110887568602383253208">
  		<link rel="shortcut icon" href="http://www.fashionandyou.com/favicon.ico">
  		<!-- Schema.org markup for Google+ -->
  		<meta itemprop="name" content="FashionAndYou">
  		<meta itemprop="description" content="FashionAndYou">
  		<meta itemprop="image" content="FashionAndYou">
	</head>

	<body class="$css_class">
		<div class="main-container">
			#parse ("$full_templates_path/portal_custom_topbar.vm")
			<div class="stickheader">
  				<!-- wrapper starts here -->
				<div class="wrapper clearfix">
					#parse ("$full_templates_path/portal_custom_header.vm")
				</div>
				<!-- wrapper ends here --> 

				<div class="mobile-search">
					<div class="search-field">
					<form id="searchForm">  
						<input type="search" placeholder="What are you Looking For?" id="searchInputBox" />
						<!-- <a  herf="#" onClick='javascript:void(0)' class="search-icon">Search</a> -->
						<a href="#" class="search-icon"></a>
						</form>
					</div>
					
						
				</div> 	
	
			</div>
			
			<div class="wrapper clearfix">
				<section class="midddle-area">
					#if ($selectable) 
						$theme.include($content_include) 
					#else
						$portletDisplay.recycle() $portletDisplay.setTitle($the_title)
						$theme.wrapPortlet("portlet.vm", $content_include) #end
				</section>
			</div>
			#parse ("$full_templates_path/portal_custom_footer.vm")
		</div>
		$theme.include($body_bottom_include) $theme.include($bottom_include)
		$theme.runtime("navigation_WAR_appportlet")
	</body>
</html>