
<div class="row forgot-pasw">

<h2>Forgot Password</h2>

<div class="new-password">

<div class="col-xs-12">

<span class="pasw-inst">Enter new Password</span>

</div>

<div class="col-xs-12">

<div class="new-passw-form">

<label>New Password :</label>

<input type="password" class="paswfield" value="deepti.libra.gupta@gmail.com" />

<span class="psw-strength">Strong!</span>

<label>Confirm Password :</label>

<input type="password" class="paswfield" value="deepti.libra.gupta@gmail.com" />

<a href="#" class="btn-cartpop tonextstep" >Confirm</a>

</div>

</div>

</div>

</div>

<div class="psw-reset-msg">

<div class="col-xs-12">

<span class="pasw-changed">Your password changed successfully!</span>

</div>

<div class="col-xs-12 clear">

<a href="#" class="go-hme-link">Go Home</a>

</div>

</div>
