   <!-- <h3>Fashion & You Rewards</h3> -->
   <div id="credit-tabs">
      <ul>
        <li><a href="#" id="vouchersList" class="active">Fashion & You Rewards</a></li>
   
      </ul>
    </div>
   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
   <tr><th>Total Available Points</th></tr>
      <tr>
        <td>{{rewardPoints}}</td>
      </tr>
   </table>
