<div class="col-xs-4">

                            <div class="profile-sum clearfix">

                                <h2 class="sum-heading">
                                {{rewards}}
                                <span>reward points</span></h2>

                                <span class="earn-points">Shop & Earn More Points</span>

                                <table class="reward-pt-table">

                                    <tr>

                                        <td>Shop For</td>

                                        <td>Earn</td>

                                    </tr>

                                    <tr>

                                        <td>Rs 2500</td>

                                        <td>25 Points</td>

                                    </tr>

                                    <tr>

                                        <td>Rs 5000</td>

                                        <td>50 Points</td>

                                    </tr>

                                    <tr>

                                        <td>Rs 10000</td>

                                        <td>100 Points</td>

                                    </tr>

                                    <tr>

                                        <td>Rs 20000</td>

                                        <td>200 Points</td>

                                    </tr>

                                </table>

                            </div>

                        </div>