
<div class="row">
	<div id="result-box" class="col-md-12 col-sm-12 col-xs-12">
		<h3>Return request has been placed
		<Strong>Successfully</strong></h3>
		<p>Please save your Request Id <span id="requestId"></span> for further tracking.</p>
		<p>Please check your mail for all the details ...</strong></p>
	</div>
</div>


	
	