<div id="activatepage">
	<div class="row clearfix">
		<h2>
			<img src="/fny-theme/images/unactivate.png" /> Sorry Your Registration
			has been unsuccessful.
		</h2>
		<h3>Please Try Again.</h3>
	</div>
</div>