<!-- cart navigation starts here -->
<div class="cart-nav">
        <div class="row">
          <div class="col-xs-4 cart-bg">
      <div class="step-outer checkout-step cart">
        <span class="no-badge">
          1
        </span>
        <span class="step-desc">
          review order
        </span>
        <span class="step-desc" id="cartTimer">
          00:00 mins
        </span>
      </div>
    </div>
    <div class="col-xs-4 cart-bg">
      <div class="step-outer checkout-step billing">
        <span class="no-badge">
          2
        </span>
        <span class="step-desc">
          billing
        </span>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="step-outer checkout-step payment">
        <span class="no-badge">
          3
        </span>
        <span class="step-desc">
          payment
        </span>
      </div>
    </div>
  </div>
</div>
<!-- cart navigation ends here -->