<form method="post" id="lighBoxForgotPass">
	<div class="header-top">
		<span>Forgot Password</span>
	</div>
	<div class="row forgot-area">
		<p>Please enter your registered email address below to retrieve your password</p>
		<div class="error_Container"></div>
		<div class="col-xs-12">
			<div class="control-group">
				<div class="controls">
					<input type="text" name="loginId" id="loginId" class="text-field" placeholder="Email ID" />
					<input type="submit" id="forgotPassword" value="Submit" class="btn-cartpop" />
				</div>
			</div>
			<!-- <a href="#" class="fp-link" id="forgotPassword">Forgot Password</a> -->
		</div>
	</div>
</form>