<form method="post" id="lighBoxSignIn">
	<div class="header-top">
		<span>MEMBER SIGN IN</span>
	</div>
	<div class="row register-area">
	
		<div class="col-xs-7">
		<div class="error_Container"></div>
			<div class="control-group">
				<div class="controls">
					<input type="text" name="loginId" id="loginId" class="text-field" placeholder="Email ID" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="password" name="password" id="password" class="password-field" placeholder="Password" />
				</div>
			</div>
			<input type="submit" id="loginUser" value="Sign In" class="btn-cartpop" />
			<a href="#" class="fp-link" id="forgotPassword">Forgot Password</a>
		</div>
		<div class="col-xs-5">
			<div class="social-icons-signup">
				<ul>
					<li><a href="#" class="fb-signup" id="facebook_login_button" >&nbsp;</a></li>
					<!-- <li><a href="#" class="tw-signup"></a></li>
									<li><a href="#" class="ldin-signup"></a></li> -->
					<li><a href="#" class="gm-signup" id="gmail_login_button">&nbsp;</a></li>
				</ul>
				<span class="existing-user">New User?</span><a href="#"
					class="existing-user login-link" id="showRegisterPopup">Sign Up</a>
			</div>
		</div>
	</div>
</form>