<!-- order-history area starts here -->
<div class="order-history-area">
	<div class="row">
		<div class="col-sm-12">
			<div class="orderhistory-left">
				<h2 class="page-heading">My Orders</h2>
				<div id="allorderbox">
					<div id="ordertabs">
						<ul>
							<li><a href="#" class="active" id="rorders">Recent Orders</a></li>
						<!-- 	<li><a href="#" id="porders">Past Orders</a></li> -->
						</ul>
						<div class="clear"></div>
					</div>
					<div class="rorder-table">
						<div class="order-outer">
							<!-- order header starts here -->
							<div class="order-header">
								<div class="order-no">
									<span>Order No.</span>
								</div>
								<div class="order-items">
									<span>Items</span>
								</div>
								<div class="order-value">
									<span>Order Value</span>
								</div>
							</div>
							<!-- order header ends here -->

							<!-- order content area starts here -->
							<div class="order-content">
								<div id="last-order" class="content-row">
								<h3>{{message}}</h3>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="porder-table"></div>
				</div>
			</div>
		</div>
	</div>
</div>
