<!-- 
<h2>Sorry no products currently  meet your requirements !! </h2>
<div class="">
<a href="/home" id="continueshop">Continue Shopping</a>
</div> -->


<div class="oopsImage"><img src="/fny-theme/images/notfound.jpg" alt="fashionandyou.com" class="img-responsive"></div>
<div class="btnclass">
		<h2>Sorry no products currently  meet your requirements !! </h2>
        <a href="/home" id="continueshop">Continue Shopping</a>
</div>

