<!-- profile activity area starts here -->
<div class="profile-activity-area">
   <div class="row">
<div class="col-xs-12">
	<h2 class="page-heading">Profile Activity</h2>
	<div class="myprofile-left">
		<div class="row profile-points">
		<div class="profile-points-comingsoon"></div>
		
			<div class="col-xs-12 col-sm-12 col-md-8 ">
				<h2 class="before-icon size-icon">What's your size?</h2>
				<p>Shop easy tell us your size</p>
				<a href='#' class="<!-- fancybox  -->" id="sizeGuideLink">Size Guide</a>
			</div>
			<p class="earn-points col-md-2">
				Earn<span>100</span> Reward Points
			</p>
			<div class="col-xs-2"></div>
		</div>
		<div class="row profile-points">
			<div class="profile-points-comingsoon"></div>
			<div class="col-xs-12 col-sm-12 col-md-8">
				<h2 class="before-icon style-icon">Style Guide</h2>
				<p>Get recommendations based on your style preferences</p>
				<a href='#' class="fancybox quizbutton"
					id="styleGuideLink">Style Quiz</a>
			</div>
			<p class="earn-points col-md-2">
				Earn<span>50</span> Reward Points
			</p>
			<div class="col-xs-2"></div>
		</div>

		<div class="row profile-activity-section">
			<!-- 	<div class="profile-points-comingsoon"></div>
			<div class="col-xs-12">
				<h2>Brands You Like</h2>
				<a href="#add-brands" id="add-brands" class="add-brand fancybox"></a>
				<div id="favoriteBrands" class="carousel-brands">
					<div class="brand-slides">
						{{#if customerWrapper.customers.customerFavouriteBrand}}
								{{#each customerWrapper.customers.customerFavouriteBrand}}
								<div class="slide"><img
									src="/app-theme/dist/images/{{favouriteBrand.thumbnailURL}}"
									alt="{{favouriteBrand.brandCode}}"
									id="{{../customerFavouriteBrandId}}" /></div> {{/each}}
						{{/if}}
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
</div>
</div>
<!-- <div id="size-chart"></div> -->
<!-- <div id="brandForm"></div>
<div id="style-popup"></div> -->
<!-- Fancy Box pop ups -->
