<!-- profile navigation bar starts here -->

<div class="profile-navbar hidden-xs">
    <ul>
        <!-- profile tab starts here -->
        <li class="profile">
            <a href="/profile">
                <div class="profile-info">
                    <div class="icon profile-uicon"></div>
                    <div class="profile-status">My Profile</div>
                </div>
                <span class="profile-nav-name"></span>
            </a>
        </li>
        <!-- profile tab ends here -->

        <!-- credits tab starts here -->
        <li class="credits">
            <a href="/credits">
                <div class="profile-info">
                    <div class="icon reward-icon"></div>
                    <div class="profile-status status-rewards">
                        My Credits,<br>
                        Rewards & Vouchers
                    </div>
                </div>
                <span class="profile-nav-name">{{customer.totalRewards}} reward points</span>
            </a>
        </li>
        <!-- credits tab ends here -->

        <!-- orders tab starts here -->
        <li class="orders">
            <a href="/orders">
                <div class="profile-info">
                    <div class="icon history-icon"></div>
                    <div class="profile-status">
                        Order History
                    </div>
                </div>
                <span class="profile-nav-name"></span>
            </a>
        </li>
        <!-- orders tab ends here -->
        
        <!-- invite tab starts here -->
        <li class="invite">
            <a href="/invite">
                <div class="profile-info">
                    <div class="icon friend-icon"></div>
                    <div class="profile-status">
                        Invite Friend
                    </div>
                </div>
                <span class="profile-nav-name">Invite Friends & Earn Credits</span>
            </a>
        </li>
        <!-- invite tab ends here -->

        <!-- notifications tab starts here -->
        <li class="notifications">
        <!-- <div class="notifiyOverlay"></div> -->
            <a href="/favourites">
                <div class="profile-info">
                    <div class="icon favorite-icon"></div>
                    <div class="profile-status">
                        Favourites
                    </div>
                </div>
                <span class="profile-nav-name">0 Pending favourite(s)</span>
            </a>
        </li>
        <!-- notifications tab ends here -->
    </ul>
</div>
<!-- profile navigation bar ends here -->