<form method="post" id="lighBoxSignUp">
	<div class="header-top">
		<span>New User? Join now!</span>
	</div>
	<div class="row register-area">
		<div class="col-xs-7">
				<div class="error_Container"></div>
				<div class="control-group">
		           <div class="controls">
		                <input type="text" name="firstName" id="firstName" class="text-field" placeholder="First Name" value="" />
		            </div>
		        </div>
		        <div class="control-group">
		           <div class="controls">
		                <input type="text" name="lastName" id="lastName" class="text-field" placeholder="Last Name" value="" />
		            </div>
		        </div>
		        <div class="control-group">
		           <div class="controls">
		                <input type="text" name="emailId" id="emailId" class="text-field" placeholder="Email ID" value="" />
		            </div>
		        </div>
		        <div class="control-group">
		           <div class="controls">
		                <input type="password" name="password" id="password" class="password-field" placeholder="Password" />
		             </div>
		        </div>
		        <div class="control-group">
		           <div class="controls">
		                <input type="radio" id="male" class="radio" name="gender" value="M"/><label for="male">Male<span class="ie8-icon"></span></label>
		                <input type="radio" id="female" class="radio" name="gender" checked="checked" value="F"/><label for="female" class="label-checked">Female<span class="ie8-icon"></span></label>
		            </div>
		        </div>
		        <div class="clear"></div>
		        <input type="submit" id="registerUser" value="Sign Up" class="btn-cartpop" />
		</div>
		<div class="col-xs-5">
			<div class="social-icons-signup">
				<ul>
					<li><a href="#" class="fb-signup" id="facebook_signup_button">&nbsp;</a></li>
					<!-- <li><a href="#" class="tw-signup"></a></li>
					<li><a href="#" class="ldin-signup"></a></li> -->
					<li><a href="#" class="gm-signup" id="gmail_signup_button">&nbsp;</a></li>
				</ul>
				<span class="existing-user">Existing User?</span>
				<a href="#" class="existing-user login-link"  id="showLoginPopup">Sign In</a>
			</div>
		</div>
	</div>
</form>