   <h3>Fashion & You Rewards</h3>
   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
   <tr><th>Total Available Points</th></tr>
      <tr>
        <td>{{rewardPoints}}</td>
      </tr>
   </table>
