<div class="popup-layout-outer service-popup" id="serviceAvailabilityModal">
    <h2 class="heading">Delivery Serviceability</h2>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            </p>

        </div>
        <div class="col-xs-12 clearfix" >
            <div class="control-group">
                <div class="controls">
                    <input type="text" name="pincode" id="pincode" class="input-field pincode" data-error-style="inline" type="text" placeholder="Enter Pincode here" />
                </div>
            </div>
            <a class="btn-cartpop" href="#" id="proceedBtn">Proceed</a>
        </div>
        <div class="col-xs-12">
            <p class="message" id="message">We serve this pincode</p>
            <p class="message error-message" id="message1">We don't serve this pincode</p>
            
        </div>
        <div class="col-xs-12">
            <table>
                <tr>
                    <th class="empty-cell"></th>
                    <th>International</th>
                    <th>Regular</th>
                    <th>Express</th>
                </tr>
                <tr>
                    <th>COD</th>
                    <td>28 Days<br />12 - 15 Sep</td>
                    <td>28 Days<br />12 - 15 Sep</td>
                    <td>28 Days<br />12 - 15 Sep</td>
                </tr>
                <tr>
                    <th>Pincode</th>
                    <td>28 Days<br />12 - 15 Sep</td>
                    <td>28 Days<br />12 - 15 Sep</td>
                    <td>28 Days<br />12 - 15 Sep</td>
                </tr>
            </table>
        </div>
    </div>
</div>