<div id="registerarea">
	<h2>Register here</h2>
	<div class="reg-form">
		<form method="post" id="sign_up_form">
			<!-- <div class="errormsg1">
				<img src="/fny-theme/images/caution1.png" /> Incorrect Email
				Address
			</div> -->
			<div class="control-group">
				<div class="controls row clear">
					<label for="firstName">Firstname : :</label> <input type="text" name="firstName"
						id="firstName" data-error-style="inline" class="textfield"
						placeholder="Enter First Name" value="" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="lastName">Lastname :</label> <input type="text" name="lastName"
						id="lastName" data-error-style="inline" class="textfield"
						placeholder="Enter Last Name" value="" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="emailId">Email :</label> <input type="text" name="emailId"
						id="emailId" data-error-style="inline" class="textfield"
						placeholder="Enter Email ID" value="" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="password">Password :</label> <input type="password" name="password"
						id="password" data-error-style="inline" class="textfield"
						placeholder="***********" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="confirmPassword">Confirm Password :</label> <input type="password"
						name="confirmPassword" id="confirmPassword" class="textfield"
						data-error-style="inline" placeholder="***********" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="address1">Address :</label>
					<textarea name="address1" id="address1" data-error-style="inline"
						placeholder="Enter Address"></textarea>
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="pinCode">Pincode :</label> <input type="text" name="pinCode"
						id="pinCode" data-error-style="inline" class="textfield"
						placeholder="" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="location">Location :</label> <select class="textfield" name="location"
						id="location">
						<option value="0">Select Your Location</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="city">City :</label>
					<input type="text" name="city" id="city" data-error-style="inline" class="textfield" placeholder="Your City" disabled="disabled" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="state">State :</label>
					<input class="textfield" name="state" id="state" data-error-style="inline" type="text" placeholder="Your State" value="" disabled="disabled" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="country">Country :</label>
					<input class="textfield" name="country" id="country" data-error-style="inline" type="text" placeholder="Your Country" disabled="disabled" />
				</div>
			</div>	
				<div class="control-group">
					<div class="controls row clear">
						<label for="usr_contact">Alternate No :</label> <input type="text" name="usr_contact" id="usr_contact" data-error-style="inline" class="textfield" placeholder="" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls row clear">
						<label>Gender :</label>
						<label class="option-label" for="male">
							<input type="radio" id="male" name="gender" value="M" /> Male
						</label>
						<label class="option-label" for="female">
							<input type="radio" id="female" name="gender" checked="checked" value="F" /> Female
						</label>
					</div>
				</div>
				<input type="submit" id="registerUser" value="Register Me" class="btn-cartpop" />
				<p>
					<span>OR Login with</span>
					<a href="#" class="fb-icon iconfacebook" id="facebook_login_button">&nbsp;</a>
					<a href="#" class="icongoogleplus" id="gmail_login_button">&nbsp;</a>
					<!-- <a href="#" class="icontwitter"></a> -->
				</p>
		</form>
	</div>
	
</div>
<div class="reg-message">
<div class="row clearfix">
<h2><img src="/fny-theme/images/activate.png" />Your Registration has been successfully!</h2>
<!-- <h3>Kindly check your register email id for activation !!!</h3> -->
<h3>You can login to continue shopping.</h3>
<div class="login-btn"><a href="/login" class="btn-login-reg">Login</a></div>

<!-- <div class="account-login">
<form>
<label>Username :</label> <input type="text" placeholder="Email Address / Username / Mobile Number" />
<label>Password :</label> <input type="password" placeholder="***********" />
<input type="submit" value="Login" class="go" />
</form>
</div> -->


</div>
	</div>