<div id="loginarea">
	<h2>Login to Invite</h2>
	<div class="reg-form">
		<form method="post" id="cce_login_form">
		<div class="error_Container"></div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="loginId">Username :</label>
					<input type="text" name="loginId" id="loginId" data-error-style="inline" class="textfield" placeholder="Agent's Email Id" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="password">Password :</label>
					<input type="password" name="password" id="password" data-error-style="inline" class="textfield" placeholder="***********" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls row clear">
					<label for="customerId">Customer Id :</label>
					<input type="customerId" name="customerId" id="customerId" data-error-style="inline" class="textfield" placeholder="customer email" />
				</div>
			</div>
			<!-- <a href="#" class="btn-cartpop">Login</a> -->
			<input type="submit" id="registerUser" value="Login" class="btn-cartpop" />
			<div class="clearfix"></div>
		</form>
	</div>
</div>
