<!-- event listing hero banner starts here -->
<!-- <div class="ending-soon-area">
	<div class="row banner-area clearfix">
		<a class="static-banner" href="#">
			<img title="banner-ending-soon" alt="banner-ending-soon" src="../images/banner-ending-soon.jpg">
		</a>
	</div>
</div> -->
<!-- event listing hero banner ends here -->