<div class="row forgot-pasw">

<h2>Forgot Password</h2>

<div class="password-area">

<div class="col-xs-12">

<span class="pasw-inst">To reset your password, enter the email address you use to sign in. </span>

</div>

<div class="col-xs-12">

<div class="re-passw-form">
	<form method="post" id="forgot_password_form">
		<div class="control-group">
			<div class="controls row clear">
				<label>Email :</label>
				<input type="text" name="email_id" id="email_id" data-error-style="inline" class="email-field" placeholder="email@example.com" />
			</div>
		</div>
		<input type="submit" id="registerUser" value="Send Password" class="btn-cartpop" />
	</form>
</div>

</div>

</div>

</div>