<div id="invitearea" class="col-xs-12">
	<div id="invite-registration">
	<h2>Welcome! to India's biggest shopping club with 15 exclusive daily sales.</h2>
	
		<div id="registration-box">			<h4>INVITED BY :{{user}}</h4>
			<h3>Create your free account :</h3>
			<div class="control-group">
		           <div class="controls">
		                <label>First Name :</label> <input type="text" name="firstName" id="userFirstName" data-error-style="inline"  >
		            </div>
		    </div>
		    <div class="control-group">
		           <div class="controls">
		                <label>Email Address :</label> <input type="text"name="emailId" id="userEmailId" data-error-style="inline"  >
		            </div>
		    </div>
		    <div class="control-group">
		           <div class="controls">
		                <label>Password :</label> <input type="password" name="password" id="userPassword" data-error-style="inline"  >
		            </div>
		    </div>
		    <div class="control-group">
		           <div class="controls">
		                <label>Gender :</label>
		         		<input type="radio" name="gender" class="radio"  id="male-invite" value="M"/><label for="male-invite" class="check-fix"><span class="ie8-icon"></span>Male</label> 
						<input type="radio" name="gender" class="radio" id="female-invite" value="F"/><label for="female-invite" class="check-fix"> <span class="ie8-icon"></span>Female </label>
		            </div>
		    </div>
			<div class="clear"></div>
			<label>&nbsp;</label> <a href="#" class="go">Register Now</a>
			
		</div>
	</div>
</div>