
<div class="row">
<div class="searchResult-bar">
{{#if hits.length}}
  <h3 class="total-result">{{total}} Results for <span id="keyword">"Levis Jeans"</span></h3>
{{/if}}
</div>
</div>
      
<!-- product listing area starts here -->
<div class="prod-lstng-area"> 
	<!-- filter area starts here -->
	  <div id="filterleft" class="prod-area-filter-new"></div>
	<!-- filter area starts here -->

	<!-- product listing starts here -->
	  <div id="notfound"></div>
	  <div class="prod-area-list">
	  <div id="products" class="row products"></div>
	  <div class="row">
	  <div class="morebutton">
	  <a href="#" id="moreProducts"><span>View More <i class="icon-right-circled"></i></span></a>
	  </div>
	  </div>
	  </div>
	  <div class="row event" id="eventArea"></div>
<!-- product listing ends here --> 
</div>

      