<div id="orderReturningstatus">
	  <div class="row">
		<div id="result-box" class="productSteps col-md-12 col-sm-12 col-xs-12">
			<h2><span class="success"></span>Return Status</strong></h3>
			<h2><span class="product"></span>{{domainResponse.message}}</h2>
		</div>
	 </div>
	 
</div>		