<div class="row">
	<div class="searchResult-bar">
		{{#equal hits.total 0}}
		  <h3 class="total-result">0 Result(s) for <span id="keyword"></span></h3>
		{{else}}
		  <h3 class="total-result">{{hits.total}} Result(s) for <span id="keyword"></span></h3>
		{{/equal}}
	</div>
</div>
      
<!-- product listing area starts here -->
<div class="prod-lstng-area"> 
	<!-- filter area starts here -->
	  <div id="filterleft" class="prod-area-filter-new"></div>
	<!-- filter area starts here -->

	<!-- product listing starts here -->
	  
	  <div class="prod-area-list">
	  
	  			<div class="row">
				  	<div id="loader" class="product-loader"><span></span></div>
		 	    </div>
		 	    
		  	    <div id="products" class="row products"></div>
		  		
		  		<div class="row">
		  			<div class="morebutton">
		  				<a href="#" id="moreProducts">
		  					<span>View More <i class="icon-right-circled"></i></span>
						</a>
		  			</div>
				</div>
		   </div>
	 
	  <div class="quickviewpopup clearfix" id="quickview1"></div>
	<!-- product listing ends here --> 
</div>

      