<ul class="nav pull-right loginholder">
<li id="uname"><a href="/register">Become a member</a></li>
	<li class="showthis">
		<a href="#" class="login hidden-xs">Sign In</a>
		
		<div class="custom-overlay"></div>
		<!-- register popup starts here -->
		<div class="login-popup signup popup" id="registerPopup" style="display: none;">
			
		</div>
		<!-- register popup ends here -->

		<!-- login popup starts here -->
		<div class="login-popup signin popup" id="loginPopup" style="display: none;">
		
		</div>
		<!-- login popup ends here -->
		
		<!-- login popup starts here -->
		<div class="login-popup forgot popup" id="forgotPopup" style="display: none;">
		
		</div>
		<!-- login popup ends here -->
	</li>
	<li class="hidden-sm hidden-md hidden-lg"><a href="/login" class="login1"></a></li>
	<!-- <li><a href="/invite">Invite</a></li>
    <li><a href="/contactus">Customer Support</a></li>
    <li><a href="http://youtube.com/channel/fashionandyou" class="tv-icon" target="_blank">We're on TV</a></li> -->
</ul>